@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	
}
.landing{
	width: 1366px;
	height: 1133px;
	background-color:  whitesmoke;
	margin: 0 auto;
}
.divisions{
	width: 1366px;
	height: 400;
}
.header{
width: 1366px;
	height: 145px;
	background-color: aquamarine;
}
.header-banner{
	width: 1366px;
	height: 270px;
	background-size: cover;
}

.logo{
	width: 200px;
	height: 200px;
	background-size: cover;
	margin-top: -185px;
	margin-left: 46px;
}
.listd{
	position: absolute;
	width: 1366px;
	height: 100px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -142px;
}
.listd ul{
	display: flex;
}
.lista{
	list-style: none;
	margin-left: 40px;
	font-family:  Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size:20px;
	font-weight: 700;
	color: white;
}
.lista a{
	text-decoration: none;
	color: white;
}
.about-heading{
	text-align: center;
	margin-top: 0px;
	font-family:  Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: white;
}




/*--====== Global Variables ======--*/
:root {
  --bg-color: #e0e2fc;
  --main-color: #4C57D5;
  --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
/*--====== CSS Reset ======--*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  background-color: var(--bg-color);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
ul {
  list-style: none;
}

.division-b{
	background-color: white;
	margin-top: 20px;
}

.overflow_hide {
  overflow: hidden;
}
/*--====== Gallery Section ======--*/
#gallery {
  padding-top: 2rem;
  padding-bottom: 5rem;
}
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
/* Filterable Gallery */
.gallery_tabs {
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 0.8rem;
  padding: 1.2rem;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
	margin-top: 60px;
	background:url("images/wc-bg.webp");
}
.gallery_tabs li {
  padding: 0.7rem 2rem;
  border-radius: 50px;
  font-size: 0.95rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
.gallery_tabs li.active,
.gallery_tabs li:hover {
  background-color: var(--main-color);
  color: #fff;
}
.gallery_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 4rem;
}
@media (max-width: 768px) {
  .gallery_wrapper {
      grid-template-columns: repeat(3, 1fr);
      gap: 0.5rem;
  }
}
.gallery_item {
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}
/* when the gallery_item has 'show' class */
.gallery_item.show {
  animation: fadeIn 0.4s ease-in;
}
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
/* when the gallery_item has 'hide' class */
.gallery_item.hide {
  display: none;
}
.gallery_item img {
  transition: transform 0.3s ease;
}
.gallery_item:hover img {
  transform: scale(1.1);
}
/* Lightbox */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 995;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}
/* when the lightbox is open */
.lightbox.open {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
}
.lightbox_wrapper {
  display: grid;
  place-items: center;
  min-height: calc(100% - 3rem);
  margin: 1.5rem;
}
@media (max-width: 575.98px) {
  .lightbox_wrapper {
      margin: 0.5rem;
      min-height: calc(100% - 1rem);
  }
}
.lightbox_content {
  box-shadow: var(--box-shadow);
  max-width: 700px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.5s ease;
}
/* when Lightbox is open then lightbox-content will... */
.lightbox.open .lightbox_content {
  transform: scale(1);
}
/* lightbox-close-btn */
.lightbox_close {
  position: absolute;
  top: 3vh;
  right: 3vw;
  z-index: 999;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}
.lightbox_close span {
  width: 100%;
  height: 3px;
  margin-top: -1.5px;
  margin-bottom: -1.5px;
  background-color: #ddd;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
.lightbox_close:hover span {
  opacity: 1;
}
.lightbox_close span:first-child {
  transform: rotate(45deg);
}
.lightbox_close span:last-child {
  transform: rotate(-45deg);
}


















.footer{
	
	width: 1366px;
	height: 375px;
	background-size: cover;
	display: flex;
	background: url("images/price-bg.webp");
}

.logos-socmedia{
	width: 455px;
	height: 375px;
	
}
.footer-logo{
	width: 180px;
	height: 180px;
	background-size: cover;
	margin-left: 23px;
	margin-top: 0px;
	position: relative;
}
.footer-para{
		font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: #363539;
	margin-left: 56px;
	margin-top: -30px;
	
}
.sm-logos{
	margin-left: 56px;
	margin-top: 20px;
}
.fb{
	margin-left: 30px;
	width: 48px;
	height: 48px;
	background-size: cover;
}
.fbc{
	margin-left: 30px;
	width: 55px;
	height: 55px;
	background-size: cover;
}

.fba{
		margin-left: 30px;
	width: 48px;
	height: 48px;
	background-size: cover;
}






        
  
.location-logo{
		width: 455px;
	height: 375px;
	
}

.infoh{
	color: #363539;
font-weight: 700;
	margin-left: 142px;
	margin-top: 85px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 28px;
}
.location{
	width: 100%;
	height: 40px;
	
	margin-top: 40px;
}
.loclogo{
	width: 30px;
	height: 30px;
	background-size: cover;
	float: left;
	margin-left: 136px;
}
.our{
	float: right;
	margin-right: 294px;
	color:  #4d8b55;
	font-weight: bolder;
	
}
.locp{
	margin-left: 170px;
	margin-top:6px;
	margin-right: 185px;
	font-size: 16px;
	 color:#363539;
}
.phones{
	width: 100%;
	height: 60px;
	
	margin-top: 40px;
}
.phonelogo{
	width: 31px;
	height: 39px;
	background-size: cover;
	float: left;
	margin-left: 139px;
	margin-top: 0px;
}
.phoneh{
	margin-left: 58px;
	color:  #4d8b55;
	font-weight: bolder;
}
.num{
	margin-left: 170px;
	color:#363539;
}
.numa{
	margin-left: 170px;
	color: #363539;
}

.subscribe-footer{
			width: 455px;
	height: 375px;
}

.subscribe{
	width: 30%;
	height: 100%;
	float: right;
	
	margin-right: 20px;
	margin-top: 0px;
}

.subh{
	color: #363539;
font-weight: 700;
	margin-left: -204px;
	margin-top: 94px;
		font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 28px;
}
/*
.forma{
	padding: 12px;
	border-radius: 30px;
	background-color: white;
	width: 274px;
	margin-left: 20px;
	margin-top: 20px;
	
	
}
.forma input{
	border: none;
}

.btns{
	background-color: #4d8b55;
	color: white;
	padding:4px;
	border: none;
	width: 100px;
	border-radius: 30px;
}
*/
/*
.forma{
	padding: 20px;
	position: relative;
}
*/
.footerbtn{
	padding: 20px;
	position: relative;
	width: 250px;
	border-radius: 30px;
	margin-top: 20px;
	margin-left: -210px;
	border: none;
}
.btny{
	position: absolute;
	margin-left: 198px;
	margin-top: -78px;
}
.btns{
	position: absolute;
	color: white;
	padding: 20px;
	border-radius: 30px;
	background-color: #363539;
	border: none;
	margin-top:23px;
	margin-left: -215px;
}

